$include-gne-reference-styles: true !default;

// Default component class.
$gne-reference-pane-selector: '.pane-fcl-procat-product-gne-reference-pane';
$gne-reference-selector: '.gne-reference-pane' !default;
$gne-reference-pane-gne-reference-display: inline-block !default;
$gne-reference-pane-gne-wrapper-display: $gne-reference-pane-gne-reference-display !default;
$gne-reference-pane-gne-wrapper-margin: 0 0 0 15px !default;
$gne-reference-pane-padding: .875em;
$gne-reference-pane-text-align: left !default;
$gne-reference-pane-gne-label-font-weight: bold !default;
$gne-reference-pane-gne-value-font-weight: normal !default;
$gne-reference-pane-text-color: $color-text-dark-primary !default;

@if ($include-gne-reference-styles) {
  #{$gne-reference-pane-selector} {
    padding: $gne-reference-pane-padding;
    text-align: $gne-reference-pane-text-align;

    #{$gne-reference-selector} {
      &__title,
      &__gne-reference {
        @include typography-body-2-small;
        color: $gne-reference-pane-text-color;
        font-weight: $gne-reference-pane-gne-label-font-weight;
      }

      &__gne-reference {
        font-weight: $gne-reference-pane-gne-value-font-weight;
      }

      &__title,
      &__gne-reference,
      &__gne-wrapper {
        display: $gne-reference-pane-gne-wrapper-display;
      }

      &__gne-wrapper {
        margin: $gne-reference-pane-gne-wrapper-margin;
      }
    }
  }
}
